# dependencies
node_modules/

# production build
build/
dist/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/

# testing
coverage/

# optional cache
.cache/
